body {
  background: black;
  padding: 80px 0 0 0;
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  background: slategray;
  box-sizing: border-box;
}

header input {
  width: 100%;
  height: 50px;
  float: left;
  color: black;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px 25px 25px 5px;
  box-sizing: border-box;
}

header button {
  width: 50px;
  height: 50px;
  position:absolute;
  top:15px;
  right:10px;
  border-radius: 25px;
  border: 0px;
  cursor: pointer;
}

.container {
  width: 100%;
  float: left;
  padding: 15px;
  box-sizing: border-box;

}

.remove {
  background-color: white;
}

.complete {
  background-color: white;
}

.date {
  margin-left: 20px;
}

#line {
  color: white;
}

#todo, #completed {
  width: 100%;
  float: left;
  padding-left: 0;
}

#todo li, #completed li {
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;

  background: lightgray;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
  margin: 0 0 10px 0;
  padding: 14px 100px 14px 14px;
  word-break: break-word;
  box-sizing: border-box;
}

#completed li:first-child {
  margin-top: 50px;
}